# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
certchecker

# vim
*.sw?

# generated test files
*.db
*.pem

# misc
*.pdf
